/* container holding image d1 and text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}
/* container holding image d2 and text */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}
/* container holding image d3 and text */
.container {
    position: relative;
    text-align: center;
    color: cornsilk;
  }
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}
p{text-align: center;}
h1, h2{text-align: center;}
body{text-align: center;}

